/*  --------------------------------------------------
// :: Global variables
// -------------------------------------------------- */
@adWidth: 728px;
@adHeight: 90px;

@main_color: #b1d1d7;
@transitSpeed: 0.5s;

/*  --------------------------------------------------
// :: LESS Classes
// -------------------------------------------------- */
.no-select {
    -webkit-user-select: none; /* Safari/Chrome, other WebKit */
       -moz-user-select: none; /* Firefox, other Gecko */
        -ms-user-select: none; /* Opera/IE 8+ */
            user-select: none;
    cursor: default;
}

.button {
    .no-select;
    outline: none;
    cursor: pointer;
    pointer-events: all;
}

.hide {
    opacity: 0;
    filter: alpha(opacity=0);
    pointer-events: none;
}

/* POSITIONING */
.absolute-centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.absolute-centered-h {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.translate-centered {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.translate-centered-h {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}


.no-transition {
    -webkit-transition: all 0;
       -moz-transition: all 0;
        -ms-transition: all 0;
         -o-transition: all 0;
            transition: all 0;
}



/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*------------------------------------*\
    MAIN
\*------------------------------------*/
* { margin: 0; padding: 0; outline: none; }
a { text-decoration: none; }

#adContainer {
    display: block;
    position: relative;
    overflow: hidden;
    margin: auto;
    width: @adWidth;
    height: @adHeight;
    max-width: @adWidth;
    max-height: @adHeight;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: solid 1px black;
    // background: url('bg.jpg');
}

.content,
#hitzone {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    cursor:pointer;
    pointer-events:all;
}

.sprite {
    position: absolute;
    display: block;
    background: url('spritesheet.png');
}



/////////////////// CONTENT //////////////////////
.bg_intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 380px;
    -webkit-transform: translateY(-200px) translateX(0);
       -moz-transform: translateY(-200px) translateX(0);
        -ms-transform: translateY(-200px) translateX(0);
         -o-transform: translateY(-200px) translateX(0);
            transform: translateY(-200px) translateX(0);
    background: url(background_intro.png)0 0 no-repeat;
    -webkit-background-size: auto 100%;
         -o-background-size: auto 100%;
            background-size: auto 100%;
} 

.bg_cave {
    position: absolute;
    top: 0;
    left: 0;
    width: 728px;
    height: 90px;
    background-position: 0 -180px;
    opacity: 0;
    filter: alpha(opacity=0);
} 


.logo {
    top: 0;
    left: 0;
    width: 728px;
    height: 90px;
    background-position: 0 0;
}
.logo_cave {
    top: 18px;
    left: 44px;
    width: 155px;
    height: 59px;
    background-position: -27px -287px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.apex {
    top: 0;
    left: 0;
    width: 728px;
    height: 600px;
    background: url('apex.jpg')0 0 no-repeat;
}
.copy1 {
    top: 19px;
    left: 235px;
    width: 259px;
    height: 57px;
    background-position: -239px -287px;
    opacity: 0;
    filter: alpha(opacity=0);
}
.copy2 {
    top: 15px;
    left: 514px;
    width: 171px;
    height: 57px;
    background-position: -533px -282px;
    opacity: 0;
    filter: alpha(opacity=0);
}


/////////////////// CONTENT //////////////////////


/////////////////// BLOBS //////////////////////


#blobsContainer {
    position: absolute;
    width: 120%;
    height: 120%;
}

    #blobsContainer * {
        position: absolute;
        // left: -20px;
        top: -20px;
    }



/////////////////// CTA //////////////////////
.ctaContainer {
    position: absolute;
    top: 10px;
    left: 254px;
    width: 220px;
    height: 68px;
    opacity: 0;
    filter: alpha(opacity=0);
} 
.ctaContainer:hover .cta {
    opacity: 0.8;
    filter: alpha(opacity=8);
} 

    .cta {
        width: 220px;
        height: 68px;
        background-position: -254px -367px;
    } 
/////////////////// CTA //////////////////////





/////////////////// REPLAY ///////////////////
@replayScale: 0.75;
.replay_btn {
    background: url(replay_btn.png) 0 0 no-repeat;
    position: absolute;
    top: 5px * (@replayScale);
    left: 5px * (@replayScale);
    width: 20px;
    height: 16px;
    pointer-events: all;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all @transitSpeed;
       -moz-transition: all @transitSpeed;
        -ms-transition: all @transitSpeed;
         -o-transition: all @transitSpeed;
            transition: all @transitSpeed;
    -webkit-transform: scale(@replayScale) rotate(0deg);
       -moz-transform: scale(@replayScale) rotate(0deg);
        -ms-transform: scale(@replayScale) rotate(0deg);
         -o-transform: scale(@replayScale) rotate(0deg);
            transform: scale(@replayScale) rotate(0deg);
}
    .replay_btn:hover {
        -webkit-transform: scale(@replayScale) rotate(359deg);
           -moz-transform: scale(@replayScale) rotate(359deg);
            -ms-transform: scale(@replayScale) rotate(359deg);
             -o-transform: scale(@replayScale) rotate(359deg);
                transform: scale(@replayScale) rotate(359deg);
    }
/////////////////// REPLAY ///////////////////





/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/* CLICKTAG */
#hitzone {
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;   
}