/*  --------------------------------------------------
// :: Global variables
// -------------------------------------------------- */
@adWidth: 300px;
@adHeight: 600px;

@main_color: #014b96;



/*  --------------------------------------------------
// :: LESS Classes
// -------------------------------------------------- */
.no-select {
    -webkit-user-select: none; /* Safari/Chrome, other WebKit */
       -moz-user-select: none; /* Firefox, other Gecko */
        -ms-user-select: none; /* Opera/IE 8+ */
            user-select: none;
    cursor: default;
}

.button {
    .no-select;
    outline: none;
    cursor: pointer;
    pointer-events: all;
}

.hide {
    opacity: 0;
    filter: alpha(opacity=0);
    pointer-events: none;
}

/* POSITIONING */
.absolute-centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.absolute-centered-h {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.translate-centered {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.translate-centered-h {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}


.no-transition {
    -webkit-transition: all 0;
       -moz-transition: all 0;
        -ms-transition: all 0;
         -o-transition: all 0;
            transition: all 0;
}

.scaleBottom {
    opacity: 0;
    filter: alpha(opacity=0);
     -webkit-transform: scaleX(0.001) scaleY(0.001);
       -moz-transform: scaleX(0.001) scaleY(0.001);
        -ms-transform: scaleX(0.001) scaleY(0.001);
         -o-transform: scaleX(0.001) scaleY(0.001);
            transform: scaleX(0.001) scaleY(0.001);
    -webkit-transform-origin: center bottom;
       -moz-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
         -o-transform-origin: center bottom;
            transform-origin: center bottom;    
}

.scaleTop {
    opacity: 0;
    filter: alpha(opacity=0);
     -webkit-transform: scaleX(0.001) scaleY(0.001);
       -moz-transform: scaleX(0.001) scaleY(0.001);
        -ms-transform: scaleX(0.001) scaleY(0.001);
         -o-transform: scaleX(0.001) scaleY(0.001);
            transform: scaleX(0.001) scaleY(0.001);
    -webkit-transform-origin: center top;
       -moz-transform-origin: center top;
        -ms-transform-origin: center top;
         -o-transform-origin: center top;
            transform-origin: center top;    
}



/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*------------------------------------*\
    MAIN
\*------------------------------------*/
* { margin: 0; padding: 0; outline: none; }

#adContainer {
    display: block;
    position: relative;
    overflow: hidden;
    margin: auto;
    width: @adWidth;
    height: @adHeight;
    max-width: @adWidth;
    max-height: @adHeight;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: solid 1px #000;
    background: url(bg.jpg) -1px -1px no-repeat;
}

#container{
    .absolute-centered;

    width:280px;
    height:582px; 
    overflow: hidden; 
}

.sprite {
    position: absolute;
    display: block;
    background: transparent url('spritesheet.png') 0 0 no-repeat;
}


.logo {
    .absolute-centered;
    left: -8px;
    display: block;
    width: 300px;
    height: 140px;
    background-position: 0 0;
    transform: scale(0);
    transform-origin: center bottom;
    -webkit-backface-visibility: hidden;
    -webkit-filter: blur(0px);
    filter: none; 
    -webkit-filter: blur(0px); 
    -moz-filter: blur(0px); 
    -ms-filter: blur(0px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}

.sun {
    .absolute-centered-h;
    left: -10px;
    display: block;
    width: 300px;
    height: 220px;
    background-position: 0 -620px;
    transform: translateY(600px) translateX(-10px);
}

.flower_left {
    display: block;
    width: 130px;
    height: 220px;
    background-position: 0 -380px;
    transform: translateY(600px) translateX(-40px) rotate(-90deg);
}

.flower_right {
    display: block;
    width: 107px;
    height: 125px;
    background-position: -150px -380px;
    transform: translateY(600px) translateX(179px) rotate(90deg);
}

.hands {
    .absolute-centered-h;
    display: block;
    width: 136px;
    height: 208px;
    background-position: 0 -150px;
    transform: translateY(600px);
}

.tag {
    .absolute-centered;
    left: -10px;
    display: block;
    width: 300px;
    height: 105px;
    background-position: 0 -850px;
    transform : scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
}

.date {
    .absolute-centered-h;
    left: -9px;
    top: 190px;
    display: block;
    width: 300px;
    height: 108px;
    background-position: 0 -975px;
    transform : scale(0);
    transform-origin: center bottom;
}

/************************************************************************************/
/************************************************************************************/
/* REPLAY */
.replay_btn {
    position:absolute;
    display:block;
    width:15px;
    height:15px;
    top:5px;
    right:5px;
    z-index:9999;
    background:url('replay_btn.png') ;
    background-repeat:no-repeat;
    opacity: 0;
    pointer-events: all;
    cursor: pointer;    
}


/************************************************************************************/
/************************************************************************************/
/* CTA */
        .cta, .cta_hover{
            .absolute-centered-h;
            top: 313px;
            width: 200px;
            height: 42px;
            cursor: pointer;
            z-index:10;
            transform-origin: center top;
        }        
        .cta {
            transform : scale(0);
            background-position: 0 -1110px;
        }
        .cta_hover {
            opacity: 0;
            filter: alpha(opacity=0);
            background-position: 0 -1162px;
        }

        .cta.text {
            .absolute-centered-h;
            top: 326px;
            width: 154px;
            height: 17px;
            background-position: 0 -1220px;
            cursor: pointer;
            z-index:10;
            opacity: 0;
            filter: alpha(opacity=0);
        }



/************************************************************************************/
/************************************************************************************/
/* CLICKTAG */
#hitzone {
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    display: block;
    z-index: 4;
}