#ad-container {
    display: block;
    position: relative;
    overflow: hidden;
    margin: auto;
    width: @adWidth;
    height: @adHeight;
    max-width: @adWidth;
    max-height: @adHeight;
    box-sizing: border-box;
    border: solid 1px @border_color;
    background-color: @main_color;
}