.replay-button {
    
    background-image: url('./replay_btn_white.png');
    
    &.black {
        background-image: url('./replay_btn_black.png');
    }

    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px * @replay_scale;
    left: 5px * @replay_scale;
    width: 20px;
    height: 16px;
    pointer-events: all;
    cursor: pointer;
    z-index: 10;
    
    transition: all @transit_speed;
    
    transform: scale(@replay_scale) rotate(0deg);

    &:hover {
        transform: scale(@replay_scale) rotate(359deg);
    }
}