/*  --------------------------------------------------
// :: Global variables
// -------------------------------------------------- */
@adWidth: 728px;
@adHeight: 90px;
@main_color: #fff;
@border_color: #000;
@transitSpeed: 0.5s;

/*  --------------------------------------------------
// :: LESS Classes
// -------------------------------------------------- */
.no-select {
    -webkit-user-select: none; /* Safari/Chrome, other WebKit */
       -moz-user-select: none; /* Firefox, other Gecko */
        -ms-user-select: none; /* Opera/IE 8+ */
            user-select: none;
    cursor: default;
}

.no-event {
    pointer-events: none !important;
}

.button {
    .no-select;
    outline: none;
    cursor: pointer;
    pointer-events: all;
}

.hide {
    opacity: 0;
    filter: alpha(opacity=0);
    pointer-events: none !important;
}

/* POSITIONING */
.absolute-centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.absolute-centered-h {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.absolute-centered-v {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.translate-centered {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.translate-centered-h {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}

.no-transition {
    -webkit-transition: all 0;
       -moz-transition: all 0;
        -ms-transition: all 0;
         -o-transition: all 0;
            transition: all 0;
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*------------------------------------*\
    MAIN
\*------------------------------------*/
* { margin: 0; padding: 0; outline: none; }
// body { background-color: #808080; }

#adContainer {
    display: block;
    position: relative;
    overflow: hidden;
    margin: auto;
    width: @adWidth;
    height: @adHeight;
    max-width: @adWidth;
    max-height: @adHeight;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: solid 1px @border_color;
    background: @main_color;
}

.content,
#hitzone {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    cursor:pointer;
    pointer-events:all;
}

.sprite {
    position: absolute;
    display: block;
    background: transparent url('spritesheet.png') 0 0 no-repeat;
    overflow: hidden;
}


/////////////////// LOGO ///////////////////

.logo-container {
    position: absolute;
    width: @adWidth;
    height: @adHeight;
    left: 0;
    top: 0;
}

.logo {
    width: 133px;
    height: 60px;
    left: 283px;
    top: 15px;
    background-position: -5px -5px;
    z-index: 1;
}

.letter {
    width: 92px;
    height: 71px;
    left: 218px;
    top: 10px;
    background-position: -5px -70px ;
    -webkit-transform: translateY(-@adHeight);
       -moz-transform: translateY(-@adHeight);
        -ms-transform: translateY(-@adHeight);
         -o-transform: translateY(-@adHeight);
            transform: translateY(-@adHeight);
}

    .shadow {
        width: 83px;
        height: 4px;
        left: 213px;
        top: 72px;
        background-position: -305px -132px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

/////////////////// HUMAN ///////////////////
.human_gif {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 207px;
    top: 5px;
    background: url('human_spritesheet.png') no-repeat;
}

.crochet {
    width: 26px;
    height: 54px;
    left: 257px;
    top: -23px;
    background-position: -143px -5px ;
    -webkit-transform: translateY(-@adHeight);
       -moz-transform: translateY(-@adHeight);
        -ms-transform: translateY(-@adHeight);
         -o-transform: translateY(-@adHeight);
            transform: translateY(-@adHeight);
}

/////////////////// COPY ///////////////////

.copytext {
    width: 188px;
    height: 28px;
    left: 429px;
    top: 37px;
    background-position: 0 -150px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.arrow-with-text {
    background-position: -305px -1px;
    width: 320px;
    height: 90px;
    left: 207px;
    top: 0;
    -webkit-transform: translateX( @adWidth - 207px );
       -moz-transform: translateX( @adWidth - 207px );
        -ms-transform: translateX( @adWidth - 207px );
         -o-transform: translateX( @adWidth - 207px );
            transform: translateX( @adWidth - 207px );
}

/////////////////// CTA ///////////////////
.ctaContainer {
    position: absolute;
    left: 512px;
    top: 32px;
    width: 152px;
    height: 27px;
    z-index: 3;
    opacity: 0;
    filter: alpha(opacity=0);
    &:hover .layer:nth-child(2) {
        opacity: 1;
        filter: alpha(opacity=1);
    } 
}
    .layer:nth-child(1) {
        width: 152px;
        height: 27px;
        background-position: -103px -70px;
    } 
    .layer:nth-child(2) {
        width: 152px;
        height: 27px;
        background-position: -103px -97px;
        -webkit-transition: all 0.5s;
           -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
             -o-transition: all 0.5s;
                transition: all 0.5s;
        opacity: 0;
        filter: alpha(opacity=0);
    }
/////////////////// CTA ///////////////////

/////////////////// REPLAY ///////////////////
@replayScale: 1;
.replay_btn {
    background: url(replay_btn.png) 0 0 no-repeat;
    position: absolute;
    top: 5px * (@replayScale);
    left: 5px * (@replayScale);
    width: 15px;
    height: 12px;
    pointer-events: all;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all @transitSpeed;
       -moz-transition: all @transitSpeed;
        -ms-transition: all @transitSpeed;
         -o-transition: all @transitSpeed;
            transition: all @transitSpeed;
    -webkit-transform: scale(@replayScale) rotate(0deg);
       -moz-transform: scale(@replayScale) rotate(0deg);
        -ms-transform: scale(@replayScale) rotate(0deg);
         -o-transform: scale(@replayScale) rotate(0deg);
            transform: scale(@replayScale) rotate(0deg);
}
    .replay_btn:hover {
        -webkit-transform: scale(@replayScale) rotate(359deg);
           -moz-transform: scale(@replayScale) rotate(359deg);
            -ms-transform: scale(@replayScale) rotate(359deg);
             -o-transform: scale(@replayScale) rotate(359deg);
                transform: scale(@replayScale) rotate(359deg);
    }

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/* CLICKTAG */
#hitzone {
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    z-index: 2;  
}