
@import "imports/style/reset";

@main_color: white;
@border_color: #7f7f7f;
@spritesheet_path: 'spritesheet.png';
@transit_speed: 0.5s;
@replay_scale: 0.8;

@adWidth: 300px;
@adHeight: 600px;

@import "imports/style/utility-classes";
@import "imports/style/ad-container";
@import "imports/style/content";
@import "imports/style/hitzone";
@import "imports/style/replay-button";
@import "imports/style/sprite-classes";
@import "imports/style/position-classes";

@border-width: 1px;

#ad-container {
    border-width: @border-width;
    border-color: @border_color;
    background: url(bg.jpg);
}

.top-red {
    background: url(static.jpg) 0 0 no-repeat;
}
.top-white {
    .sprite-pos(5,0);
    opacity: 0;
    filter: alpha(opacity=0);
}

.first-text { 
    .sprite-pos(1,0); 
}

.second-text { 
    .sprite-pos(2,0); 
}

.red-bg {
    width: @adWidth;
    height: @adHeight;
    background: #e20517;
    opacity: 0;
    filter: alpha(opacity=0);
} 


.third-text { 
    .sprite-pos(3,0);
}

.fourth-text { 
    .sprite-pos(4,0); 
}




/////////////////// CAMP///////////////////

.camp {
    width: @adWidth;
    height: @adHeight;
    position: absolute;
    background: url(camp.png) no-repeat;
    opacity: 0;
    filter: alpha(opacity=0);
    transform : scale(0.8);
} 

.generate-camp(8);

.generate-camp(@n, @i: 0) when (@i =< @n) {
  .camp:nth-child(@{i}) {
    background-position: -( (@i - 1) * @adWidth ) 0;
  }
  .generate-camp(@n, (@i + 1));
}

/////////////////// CAMP///////////////////





/////////////////// CTA ///////////////////
@ctaW: 193px;
@ctaH: 33px;
.cta-button{
    .absolute-centered-h;
    top: 515px;
    width: @ctaW;
    height: @ctaH;
    cursor: pointer;
    pointer-events:all;
    overflow: hidden;
    background-color: #FFF;
}

.cta{
    top: 0;
    width: 154px;
    height: @ctaH;
    background: url('cta.png') 0 0 no-repeat;
    transition: all 0.2s;
}
.arrow{
    position: absolute;
    right: 0; top: 0;
    width:27px;
    height: 33px;
    background: url('arrow.png') 0 0 no-repeat;
    transition: all 0.2s;
}

.cta-button:hover .arrow {
    right : -5px;
}


