/*  --------------------------------------------------
// :: Global variables
// -------------------------------------------------- */
@adWidth: 300px;
@adHeight: 600px;

@topMarginRatio : 105; 

@main_color: #3c3c3b;

@border_color: #000;
@transitSpeed: 0.5s;


/*  --------------------------------------------------
// :: LESS Classes
// -------------------------------------------------- */
.no-select {
    -webkit-user-select: none; /* Safari/Chrome, other WebKit */
       -moz-user-select: none; /* Firefox, other Gecko */
        -ms-user-select: none; /* Opera/IE 8+ */
            user-select: none;
    cursor: default;
}

.no-event {
    pointer-events: none !important;
}

.button {
    .no-select;
    outline: none;
    cursor: pointer;
    pointer-events: all;
}

.hide {
    opacity: 0;
    filter: alpha(opacity=0);
    pointer-events: none !important;
}

/* POSITIONING */
.absolute-centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.absolute-centered-h {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.absolute-centered-v {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.translate-centered {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.translate-centered-h {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}


.no-transition {
    -webkit-transition: all 0;
       -moz-transition: all 0;
        -ms-transition: all 0;
         -o-transition: all 0;
            transition: all 0;
}





/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*------------------------------------*\
    MAIN
\*------------------------------------*/
* { margin: 0; padding: 0; outline: none; }
// body { background-color: #808080; }

#adContainer {
    display: block;
    position: relative;
    overflow: hidden;
    margin: auto;
    width: @adWidth;
    height: @adHeight;
    max-width: @adWidth;
    max-height: @adHeight;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: solid 1px @border_color;
    background: @main_color;
}

#bg {
    width: 810px;
    height: 600px;
    background: @main_color url(bg.jpg) 0 0 no-repeat;
} 

.content,
#hitzone {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    cursor:pointer;
    pointer-events:all;
}

.sprite {
    position: absolute;
    display: block;
    background: transparent url('spritesheet.png') 0 0 no-repeat;
    overflow: hidden;
}




/////////////////// LOGOS ///////////////////
// .logo {
//     top: 0;
//     left: 0;
//     background-position: 0 -366px;
//     width: @adWidth;
//     height: 64px;
//     -webkit-transform: translateY(-70px);
//        -moz-transform: translateY(-70px);
//         -ms-transform: translateY(-70px);
//          -o-transform: translateY(-70px);
//             transform: translateY(-70px);
// }
.legal {
    bottom: 0;
    left: 0;
    background-position: 0 0;
    width: @adWidth;
    height: 40px;
    -webkit-transform: translateY(50px);
       -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
         -o-transform: translateY(50px);
            transform: translateY(50px);
}

/////////////////// LOGOS ///////////////////


/////////////////// LINES ///////////////////

.containerLines1 {
    left: 0;
    top: 143px;
    width: @adWidth;
    height: 22px;
    background-position: 0 -680px;
    -webkit-transform: scale(0) translateY(0);
       -moz-transform: scale(0) translateY(0);
        -ms-transform: scale(0) translateY(0);
         -o-transform: scale(0) translateY(0);
            transform: scale(0) translateY(0);
    -webkit-transform-origin:center bottom;
       -moz-transform-origin:center bottom;
        -ms-transform-origin:center bottom;
         -o-transform-origin:center bottom;
            transform-origin:center bottom;
} 
  
.containerLines2 {
    left: 0;
    top: 375px;
    width: @adWidth;
    height: 22px;
    background-position: 0 -710px;
    -webkit-transform: scale(0) translateY(0);
       -moz-transform: scale(0) translateY(0);
        -ms-transform: scale(0) translateY(0);
         -o-transform: scale(0) translateY(0);
            transform: scale(0) translateY(0);
    -webkit-transform-origin:center top;
       -moz-transform-origin:center top;
        -ms-transform-origin:center top;
         -o-transform-origin:center top;
            transform-origin:center top;
} 
    .line1, .line2, .line3 {
        background-color: @main_color;
    } 
    .line1 {
        position: absolute;
        top: 0px;
        left: 110px;
        width: 23px;
        height: 22px;
        -webkit-transform: rotate(45deg);
           -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
             -o-transform: rotate(45deg);
                transform: rotate(45deg);
    } 

    .line2 {
        position: absolute;
        top: 0px;
        left: 140px;
        width: 23px;
        height: 22px;
    } 

    .line3 {
        position: absolute;
        top: 0px;
        left: 165px;
        width: 23px;
        height: 22px;
        -webkit-transform: rotate(-45deg);
           -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
             -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
    } 
/////////////////// LINES ///////////////////

/////////////////// SCANNER ///////////////////

.scannerV {
    width: 3px;
    height: 228px;
    top: 166px;
    left: @adWidth;
    background-position: 0 -736px;
    -webkit-transform: translateX(-@adWidth - 10);
       -moz-transform: translateX(-@adWidth - 10);
        -ms-transform: translateX(-@adWidth - 10);
         -o-transform: translateX(-@adWidth - 10);
            transform: translateX(-@adWidth - 10);
}

.scannerH {
    width: 228px;
    height: 3px;
    top: 405px;
    left: 36px;
    background-position: -36px -930px;
    -webkit-transform: translateX(@adWidth);
       -moz-transform: translateX(@adWidth);
        -ms-transform: translateX(@adWidth);
         -o-transform: translateX(@adWidth);
            transform: translateX(@adWidth);
}

/////////////////// SCANNER ///////////////////



/////////////////// GIF ///////////////////
    .gif {
        display: none;
        position: absolute;
        left: 82px;
        top: 284px;
        height: 94px;
    }     
    .gif_end {
        display: none;
        position: absolute;
        left: 79px;
        top: 255px;
        height: 94px;
    } 

/////////////////// GIF ///////////////////


/////////////////// CONTENT ///////////////////

.containerText1 {
    position: absolute;
    width: @adWidth;
    height: 31px;
    top: 191px;
} 

    .copytext1 {
        width: @adWidth;
        height: 31px;
        top: 0;
        background-position: 0 -2px;
        -webkit-transform: scale(0);
           -moz-transform: scale(0);
            -ms-transform: scale(0);
             -o-transform: scale(0);
                transform: scale(0);
        -webkit-transform-origin: bottom center;
        -moz-transform-origin: bottom center;
            -ms-transform-origin: bottom center;
            -o-transform-origin: bottom center;
                transform-origin: bottom center;
    } 


.containerText2 {
    position: absolute;
    width: @adWidth;
    height: 50px;
    top: 222px;
    overflow: hidden;
}

    .copytext2 {
        width: @adWidth;
        height: 32px;
        top: 0;
        background-position: 0 -41px;
        -webkit-transform: translateY(-100%);
           -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
             -o-transform: translateY(-100%);
                transform: translateY(-100%);
    }

.containerText3 {
    position: absolute;
    width: @adWidth;
    height: 48px;
    top: 270px;
    overflow: hidden;
}

    .copytext3 {
        width: @adWidth;
        height: 30px;
        top: 0;
        background-position: 0 -83px;
        -webkit-transform: translateY(-100%);
           -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
             -o-transform: translateY(-100%);
                transform: translateY(-100%);
    }

.containerText4 {
    position: absolute;
    width: 0;
    height: 231px;
    top: 174px;
    overflow: hidden;
    -webkit-transform-origin: right center;
       -moz-transform-origin: right center;
        -ms-transform-origin: right center;
         -o-transform-origin: right center;
            transform-origin: right center;
}

    .copytext4 {
        width: @adWidth;
        height: 100%;
        top: 0;
        background-position: -@adWidth -174px;
    }

.containerText5 {
    position: absolute;
    width: @adWidth;
    height: 231px;
    top:198px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
}

    .copytext5:nth-child(1) {
        width: @adWidth;
        height: 32px;
        top: 0px;
        background-position: (-@adWidth * 2) -210px;
    }
    .copytext5:nth-child(2) {
        width: @adWidth;
        height: 48px;
        top: 42px;
        background-position: (-@adWidth * 2) -252px;
    }
    .copytext5:nth-child(3) {
        width: @adWidth;
        height: 37px;
        top: 97px;
        background-position: (-@adWidth * 2) -307px;
    }

    .copytext5:nth-child(4) {
        width: @adWidth;
        height: 23px;
        top: 144px;
        background-position: (-@adWidth * 2) -354px;
    }

.containerText6 {
    display: none;
    .absolute-centered;
width: 156px;
height: 140px;
overflow: hidden;
-webkit-transform-origin: center;
   -moz-transform-origin: center;
    -ms-transform-origin: center;
     -o-transform-origin: center;
        transform-origin: center;
}

    .copytext6 {
        width: 156px;
        height: 140px;
        top: 0;
        background-position: -72px -356px;
    }
    .mask {
        display: none;
        .absolute-centered;
        width: 200px;
        height: 200px;
        background-color: transparent;
        border: 110px dashed @main_color;    
        box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        
    }
    .square_dashed {
        .absolute-centered;
        width: 200px;
        height: 200px;
        // background-position: -16px -737px;+        
    }
    .corner {
        width: 10px;
        height: 10px;
        opacity: 0;
        filter: alpha(opacity=0);
        .translate-centered;
    } 
    .corner:nth-child(1) {        
        background-position: -16px -737px;
    } 
    .corner:nth-child(2) {        
        background-position: -16px -749px;
    } 
    .corner:nth-child(3) {        
        background-position: -28px -737px;
    } 
    .corner:nth-child(4) {        
        background-position: -28px -749px;
    }

.outro {
    width: @adWidth;
    height: 43px;
    top: 199px;
    background-position: 0 -505px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(36px);
       -moz-transform: translateY(36px);
        -ms-transform: translateY(36px);
         -o-transform: translateY(36px);
            transform: translateY(36px);
} 
.legal {
    width: @adWidth;
    height: 45px;
    bottom: 52px;
    background-position: 0 -635px;
    opacity: 0;
    filter: alpha(opacity=0);
} 
/////////////////// CONTENT ///////////////////





/////////////////// CTA ///////////////////
@ctaW: 192px;
@ctaH: 32px;
.ctaContainer {
    position: absolute;
    top: 396px;
    left: 61px;
    width: @ctaW;
    height: @ctaH;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
}

    .cta,
    .cta:nth-of-type(2),
    .cta:nth-of-type(3) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-position:  -61px -941px;
        -webkit-transition: all 0.5s;
           -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
             -o-transition: all 0.5s;
                transition: all 0.5s;
    }

.ctaContainer:hover {
    .cta:nth-of-type(1) {
        -webkit-transform: translateX(3px);
           -moz-transform: translateX(3px);
            -ms-transform: translateX(3px);
             -o-transform: translateX(3px);
                transform: translateX(3px);
    }    
    .cta:nth-of-type(2) {
        -webkit-transform: translateX(-3px);
           -moz-transform: translateX(-3px);
            -ms-transform: translateX(-3px);
             -o-transform: translateX(-3px);
                transform: translateX(-3px);
    }
}
/////////////////// CTA ///////////////////
/////////////////// ANIM CTA ///////////////////


/////////////////// ANIM CTA ///////////////////




/////////////////// REPLAY ///////////////////
@replayScale: 1;
.replay_btn {
    background: url(replay_btn.png) 0 0 no-repeat;
    position: absolute;
    top: 5px * (@replayScale);
    right: 5px * (@replayScale);
    width: 15px;
    height: 12px;
    pointer-events: all;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all @transitSpeed;
       -moz-transition: all @transitSpeed;
        -ms-transition: all @transitSpeed;
         -o-transition: all @transitSpeed;
            transition: all @transitSpeed;
    -webkit-transform: scale(@replayScale) rotate(0deg);
       -moz-transform: scale(@replayScale) rotate(0deg);
        -ms-transform: scale(@replayScale) rotate(0deg);
         -o-transform: scale(@replayScale) rotate(0deg);
            transform: scale(@replayScale) rotate(0deg);
}
    .replay_btn:hover {
        -webkit-transform: scale(@replayScale) rotate(359deg);
           -moz-transform: scale(@replayScale) rotate(359deg);
            -ms-transform: scale(@replayScale) rotate(359deg);
             -o-transform: scale(@replayScale) rotate(359deg);
                transform: scale(@replayScale) rotate(359deg);
    }
/////////////////// REPLAY ///////////////////





/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/* CLICKTAG */
#hitzone {
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;   
}