.no-select {
    user-select: none;
    cursor: default;
}

.button {
    .no-select;
    outline: none;
    cursor: pointer;
    pointer-events: all;
}

.show {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    pointer-events: all;
}

.hide {
    opacity: 0;
    filter: alpha(opacity=0);
    pointer-events: none;
}

/* POSITIONING */
.absolute-centered {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
}

.absolute-centered-h {
    position: absolute;
    top: inherit; bottom: inherit;
    left: 0; right: 0;
    margin: auto;
}

.absolute-centered-v {
    position: absolute;
    top: 0; bottom: 0;
    left: inherit; right: inherit;
    margin: auto;
}

.no-transition {
    transition: all 0;
}
