/*  --------------------------------------------------
// :: Global variables
// -------------------------------------------------- */
/*  --------------------------------------------------
// :: LESS Classes
// -------------------------------------------------- */
.no-select {
  -webkit-user-select: none;
  /* Safari/Chrome, other WebKit */
  -moz-user-select: none;
  /* Firefox, other Gecko */
  -ms-user-select: none;
  /* Opera/IE 8+ */
  user-select: none;
  cursor: default;
}
.button {
  -webkit-user-select: none;
  /* Safari/Chrome, other WebKit */
  -moz-user-select: none;
  /* Firefox, other Gecko */
  -ms-user-select: none;
  /* Opera/IE 8+ */
  user-select: none;
  cursor: default;
  outline: none;
  cursor: pointer;
  pointer-events: all;
}
.hide {
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
  pointer-events: none !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* POSITIONING */
.absolute-centered {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.absolute-centered-h {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.translate-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.translate-centered-h {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.no-transition {
  -webkit-transition: all 0;
  -moz-transition: all 0;
  -ms-transition: all 0;
  -o-transition: all 0;
  transition: all 0;
}
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*------------------------------------*\
    MAIN
\*------------------------------------*/
* {
  margin: 0;
  padding: 0;
  outline: none;
}
#adContainer {
  display: block;
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 300px;
  height: 600px;
  max-width: 300px;
  max-height: 600px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #000;
  background: url('bg.jpg') 0 0 no-repeat;
}
.sprite {
  position: absolute;
  display: block;
  background: transparent url('spritesheet.png') 0 0 no-repeat;
}
.logo_legal {
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 35px;
  background-position: 0 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.signature_intro {
  display: block;
  width: 300px;
  height: 164px;
  background-position: 0 -41px;
  left: 0;
  top: 23px;
}
.image_intro {
  display: block;
  width: 300px;
  height: 425px;
  background-position: 0 -205px;
  left: 0;
  bottom: 0;
  transform: translateX(0) translateY(0);
}
#flashlight {
  display: block;
  width: 300px;
  height: 600px;
  background-position: 0 -1224px;
  transform: translateY(0);
  opacity: 0;
  filter: alpha(opacity=0);
}
.image_outro {
  display: block;
  width: 300px;
  height: 410px;
  background-position: 0 -631px;
  left: 0;
  bottom: 40px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.signature_outro {
  display: block;
  width: 300px;
  height: 136px;
  background-position: 0 -1041px;
  left: 0;
  top: 19px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.abs {
  position: absolute;
}
.single_glitter {
  transform: rotate(8deg);
  opacity: 0;
  filter: alpha(opacity=0);
}
/************************************************************************************/
/************************************************************************************/
/* REPLAY */
.replay_btn {
  -webkit-user-select: none;
  /* Safari/Chrome, other WebKit */
  -moz-user-select: none;
  /* Firefox, other Gecko */
  -ms-user-select: none;
  /* Opera/IE 8+ */
  user-select: none;
  cursor: default;
  outline: none;
  cursor: pointer;
  background: transparent url(replay_btn.png) 0 0 no-repeat;
  width: 17px;
  height: 14px;
  position: absolute;
  top: 5px;
  right: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  pointer-events: all;
}
.replay_btn:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/************************************************************************************/
/************************************************************************************/
/* CTA */
.cta {
  left: 28px;
  top: 525px;
  width: 252px;
  height: 40px;
  background-position: -28px -1186px;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  z-index: 10;
}
.cta.layer {
  top: 0;
  left: 0;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}
.cta.layer:nth-child(2) {
  left: 0px;
  width: 35px;
}
.cta:hover .cta.layer:nth-child(2) {
  left: -10px !important;
  width: 35px;
}
.cta.layer:nth-child(3) {
  left: 217px;
  background-position: -245px -1186px;
}
.cta:hover .cta.layer:nth-child(3) {
  left: 227px !important;
}
/************************************************************************************/
/************************************************************************************/
/* CLICKTAG */
#hitzone {
  pointer-events: all;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
}
