.full-frame {
    position:absolute;
    top: 0;
    left: 0;
    width: @adWidth;
    height: @adHeight;
}


// mixins

.to-the-right() {
	transform: translateX( @adWidth ) rotate(0.001deg);
}

.to-the-left() {
	transform: translateX( -@adWidth ) rotate(0.001deg);
}

.below() {
	transform: translateY( @adHeight ) rotate(0.001deg);
}

.above() {
	transform: translateY( -@adHeight ) rotate(0.001deg);
}

// classes

.fromRight { .to-the-right(); }
.fromLeft { .to-the-left(); }
.fromBottom { .below(); }
.fromTop { .above(); }