/************************************************************************************/
/************************************************************************************/
/***
 #### ##     ## ########   #######  ########  ########  ######  
  ##  ###   ### ##     ## ##     ## ##     ##    ##    ##    ## 
  ##  #### #### ##     ## ##     ## ##     ##    ##    ##       
  ##  ## ### ## ########  ##     ## ########     ##     ######  
  ##  ##     ## ##        ##     ## ##   ##      ##          ## 
  ##  ##     ## ##        ##     ## ##    ##     ##    ##    ## 
 #### ##     ## ##         #######  ##     ##    ##     ######  
 */
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*   
 ######   ##        #######  ########     ###    ##          ##     ##    ###    ########  
##    ##  ##       ##     ## ##     ##   ## ##   ##          ##     ##   ## ##   ##     ## 
##        ##       ##     ## ##     ##  ##   ##  ##          ##     ##  ##   ##  ##     ## 
##   #### ##       ##     ## ########  ##     ## ##          ##     ## ##     ## ########  
##    ##  ##       ##     ## ##     ## ######### ##           ##   ##  ######### ##   ##   
##    ##  ##       ##     ## ##     ## ##     ## ##            ## ##   ##     ## ##    ##  
 ######   ########  #######  ########  ##     ## ########       ###    ##     ## ##     ##  
*/
/************************************************************************************/
/************************************************************************************/
.hide {
  opacity: 0;
  filter: alpha(opacity=0);
}

.no-pointer {
  pointer-events: none;
}

.absolute-centered {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.absolute-centered-h {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.translate-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.translate-centered-h {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.translate-centered-v {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@font-face {
  font-family: 'Conv_Langdon';
  src: url('../fonts/Langdon.eot');
  src: local('☺'), url('../fonts/Langdon.woff') format('woff'), url('../fonts/Langdon.ttf') format('truetype'), url('../fonts/Langdon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.Conv_Langdon {
  font-family: Conv_Langdon, Sans-Serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;
  letter-spacing: 2px;
}

@font-face {
  font-family: 'Conv_brelaregular';
  src: url('../fonts/brelaregular.eot');
  src: local('☺'), url('../fonts/brelaregular.woff') format('woff'), url('../fonts/brelaregular.ttf') format('truetype'), url('../fonts/brelaregular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.Conv_brelaregular {
  font-family: Conv_brelaregular, Sans-Serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;
}

@font-face {
  font-family: 'Conv_ConduitITCStd-Light';
  src: url('../fonts/ConduitITCStd-Light.eot');
  src: local('☺'), url('../fonts/ConduitITCStd-Light.woff') format('woff'), url('../fonts/ConduitITCStd-Light.ttf') format('truetype'), url('../fonts/ConduitITCStd-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.Conv_ConduitITCStdLight {
  font-family: 'Conv_ConduitITCStd-Light', Sans-Serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;
}
/* -----------------------------------------------------------------------------

HAMBURGER ICONS COMPONENT

----------------------------------------------------------------------------- */
/**
* Toggle Switch Globals
*
* All switches should take on the class `c-hamburger` as well as their
* variant that will give them unique properties. This class is an overview
* class that acts as a reset for all versions of the icon.
*/
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s;
  z-index: 9999;
  pointer-events: all;
}

.c-hamburger.clicked {
  margin-top: 150px;
  opacity: 1;
  filter: alpha(opacity=0);
}

.c-hamburger.clicked span {
  height: 0;
}

.c-hamburger.clicked span::before {
  top: 13px;
  transform: rotate(45deg);
  background-color: #fff;
}

.c-hamburger.clicked span::after {
  bottom: -15px;
  transform: rotate(-45deg);
  background-color: #fff;
}

.c-hamburger:focus {
  outline: none;
  background-color: transparent;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 6px;
  left: 3px;
  right: 0;
  height: 2px;
  width: 80%;
  background-color: #0c0b0b;
  transition: background 0.3s;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0c0b0b;
  content: "";
  transition: background 0.3s;
}

.c-hamburger span::before {
  top: 8px;
}

.c-hamburger span::after {
  bottom: -16px;
}

.logo-nav {
  width: 35px;
  height: 48px;
  display: inline-block;
  background: url(../img/sblv.png) no-repeat;
  background-size: 35px 48px;
  pointer-events: all;
  transition: all 0.3s;
}
/************************************************************************************/
/************************************************************************************/
/*   
##     ##    ###    #### ##    ## 
###   ###   ## ##    ##  ###   ## 
#### ####  ##   ##   ##  ####  ## 
## ### ## ##     ##  ##  ## ## ## 
##     ## #########  ##  ##  #### 
##     ## ##     ##  ##  ##   ### 
##     ## ##     ## #### ##    ##   
*/
/************************************************************************************/
/************************************************************************************/
/* global box-sizing */
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html.freeze,
body.freeze {
  max-height: 100%;
  overflow: hidden;
}

body {
  color: #0c0b0b;
  background: #fff;
  margin: auto;
  transition: all 0.3s;
}

body.freeze {
  max-height: 100%;
  overflow: hidden;
}

main {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.overlay.clicked {
  background-color: #0c0b0b;
  overflow: hidden;
  pointer-events: all;
}
/* clear */
.clear {
  zoom: 1;
}

.clear:before,
.clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

p {
  font-family: 'Conv_ConduitITCStd-Light', Sans-Serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;
  font-size: 0.875em;
  letter-spacing: 1px;
  line-height: 2;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #0c0b0b;
}

::selection {
  color: #fff;
  background: #0c0b0b;
}

a {
  font-family: 'Conv_ConduitITCStd-Light', Sans-Serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;
  text-decoration: none;
  font-size: 0.875em;
  letter-spacing: 2px;
}

a:active {
  color: transparent;
  background-color: transparent;
}

h2 {
  color: #2c2929;
}

h3 {
  font-family: Conv_Langdon, Sans-Serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2c2929;
  font-size: 0.875em;
  margin: 0;
}
/************************************************************************************/
/************************************************************************************/
/*   
########  ########  ######  ########   #######  ##    ##  ######  #### ##     ## ########
##     ## ##       ##    ## ##     ## ##     ## ###   ## ##    ##  ##  ##     ## ##      
##     ## ##       ##       ##     ## ##     ## ####  ## ##        ##  ##     ## ##      
########  ######    ######  ########  ##     ## ## ## ##  ######   ##  ##     ## ######  
##   ##   ##             ## ##        ##     ## ##  ####       ##  ##   ##   ##  ##      
##    ##  ##       ##    ## ##        ##     ## ##   ### ##    ##  ##    ## ##   ##      
##     ## ########  ######  ##         #######  ##    ##  ######  ####    ###    ########
*/
/************************************************************************************/
/************************************************************************************/
@media only screen and (min-width: 640px) {
  .overlay.clicked {
    background-color: #fff;
  }
}

nav {
  display: inline-block;
  float: right;
  pointer-events: none;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity 0.3s;
}

nav.clicked {
  opacity: 1 !important;
  filter: alpha(opacity=100);
  pointer-events: all;
  z-index: 9999;
}

nav.single {
  opacity: 0;
  filter: alpha(opacity=0);
}

nav ul {
  margin: 0;
}

nav ul:hover li {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

nav ul li {
  text-align: right;
  list-style: none;
  padding: 4px 0;
  transition: all 0.3s;
}

nav ul li:hover {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

nav ul a {
  font-family: Conv_Langdon, Sans-Serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #0c0b0b;
  font-size: 1em;
}

nav ul a.clicked {
  color: #fff;
}

.site-navigation-footer ul {
  padding: 0;
}

.site-navigation-footer li {
  text-align: left;
  list-style: none;
  padding: 4px 0;
  transition: all 0.3s;
}

.site-navigation-footer li:hover {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.site-navigation-footer a {
  font-family: Conv_Langdon, Sans-Serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #0c0b0b;
  font-size: 0.8em;
}

.site-navigation-footer a.clicked {
  color: #fff;
}

@media only screen and (min-width: 640px) {
  nav {
    opacity: 1;
    filter: alpha(opacity=100);
    pointer-events: all;
  }

  nav.single {
    pointer-events: none;
  }

  nav ul a {
    font-size: 0.875em;
  }

  .site-navigation-footer {
    float: right;
    margin-right: 50px;
  }

  .site-navigation-footer ul {
    margin: 0;
  }

  .site-navigation-footer li {
    margin: 0;
    padding-left: 7.14285714px;
    padding-top: 0;
    display: inline-block;
  }

  .site-navigation-footer a {
    font-size: 0.875em;
  }
}

.title-container {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
}

.title-container .the-title,
.title-container .helper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.title-container .the-title {
  transition: all 0.3s ease-in-out;
  display: block;
}

.title-container .helper {
  position: absolute;
  width: inherit;
  max-width: 570px;
  height: 100px;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s;
}

.title-container h1 {
  font-family: Conv_Langdon, Sans-Serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 4px;
  margin-top: 0;
}

.title-container h4 {
  font-family: Conv_brelaregular, Sans-Serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;
  text-align: center;
  max-width: 75%;
  margin: 0 auto 12.5px;
}

@media only screen and (min-width: 640px) {
  .title-container h1 {
    font-size: 3.75em;
    letter-spacing: 10px;
  }

  .title-container h4 {
    font-size: 1.1em;
  }
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 25px;
  padding-top: 25px;
  z-index: 999;
  max-height: 150px;
}

.mobile-bar {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.mobile-bar.clicked {
  right: 50px;
  top: 50px;
  background-color: #fff;
}

@media only screen and (min-width: 640px) {
  .mobile-bar {
    display: none;
  }

  .single header {
    pointer-events: none;
  }

  header {
    padding: 50px;
  }
}

footer {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
  min-height: 100px;
}

@media only screen and (min-width: 640px) {
  .copyright {
    margin-left: 50px;
    display: inline-block;
  }
}

.display-posts-listing {
  margin: 0;
  padding: 0;
}

.display-posts-listing li {
  list-style: none;
  position: relative;
  width: 100%;
  height: 50vw;
}

.display-posts-listing img {
  height: 100%;
}

.display-posts-listing .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  pointer-events: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 0.3s;
}

.listing-item {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: translateY(0);
  transition: all 0.6s;
}

.listing-item:not(.loaded) {
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translateY(100%);
}

@media only screen and (min-width: 640px) {
  .display-posts-listing {
    position: relative;
  }

  .display-posts-listing li {
    width: 50%;
    height: 28.125vw;
    float: left;
  }
}

.about-me {
  padding: 10px;
  max-width: 540px;
  margin: 100px auto;
}

.header-content {
  margin-top: 150px;
  margin-left: 25px;
  margin-right: 25px;
}

.title-project,
.nav-back {
  display: inline-block;
  max-width: 40%;
}

.nav-back {
  font-family: Conv_Langdon, Sans-Serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2c2929;
  float: right;
  text-align: right;
  text-decoration: none;
  display: none;
}

.description-project {
  width: 90%;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 50px;
}

.center {
  max-width: 600px;
  margin: auto;
}

.website-link {
  padding: 16.66666667px;
  background-color: #0c0b0b;
  display: inline-block;
  color: #fff;
  border: 1px solid #0c0b0b;
  transition: all 0.3s;
  float: right;
  letter-spacing: 2px;
}

.website-link:hover {
  background-color: #fff;
  color: #0c0b0b;
}

.logo-project {
  min-height: 200px;
  background-color: #0c0b0b;
  position: relative;
  margin-top: -1px;
}

.logo-project img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.images-project,
.banners {
  margin: 50px auto;
  position: relative;
  max-width: 1440px;
}

.images-project img,
.banners img {
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: auto;
  margin: 25px auto;
  display: block;
}

@media only screen and (min-width: 640px) {
  .header-content {
    margin-top: 50px;
    margin-left: 25px;
  }

  .nav-back {
    display: block;
  }

  .title-project {
    margin-left: 100px;
  }

  .description-project {
    width: 80%;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .description-project {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.banners {
  max-width: 1024px;
  margin: auto;
  position: relative;
}

.banners .banner {
  display: inline-block;
}

.banners p {
  text-align: center;
}

.banners iframe.hp {
  margin: auto 10px;
  width: 300px;
  height: 600px;
}

.banners iframe.bb {
  margin: auto 10px;
  width: 300px;
  height: 250px;
}

.banners iframe.masthead {
  margin: 50px 16.66666667px;
  width: 970px;
  height: 250px;
  display: none;
}

.banners iframe.lb {
  display: none;
  margin: 50px auto;
  width: 728px;
  height: 90px;
}

@media only screen and (min-width: 1024px) {
  .banners iframe.hp {
    margin: auto 16.66666667px;
  }

  .banners iframe.bb {
    margin: auto 16.66666667px;
  }

  .banners iframe.masthead {
    display: block;
  }

  .banners iframe.lb {
    display: block;
  }
}

.load-more {
  width: 40px;
  height: 40px;
  left: 0;
  right: 0;
  margin: 40px auto;
  position: relative;
  cursor: pointer;
}

.load-more::before {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  background-color: #0c0b0b;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.load-more::after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  background-color: #0c0b0b;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.load-more.is-clicked {
  animation: spining 0.9s ease-in-out 6;
}

@keyframes spining {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.85);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
/************************************************************************************/
/************************************************************************************/
/*   
   ###    ##    ## #### ##     ##    ###    ######## ####  #######  ##    ## 
  ## ##   ###   ##  ##  ###   ###   ## ##      ##     ##  ##     ## ###   ## 
 ##   ##  ####  ##  ##  #### ####  ##   ##     ##     ##  ##     ## ####  ## 
##     ## ## ## ##  ##  ## ### ## ##     ##    ##     ##  ##     ## ## ## ## 
######### ##  ####  ##  ##     ## #########    ##     ##  ##     ## ##  #### 
##     ## ##   ###  ##  ##     ## ##     ##    ##     ##  ##     ## ##   ### 
##     ## ##    ## #### ##     ## ##     ##    ##    ####  #######  ##    ##    
*/
/************************************************************************************/
/************************************************************************************/
