@import "imports/style/reset";

@main_color: white;
@border_color: black;
@spritesheet_path: 'spritesheet.png';
@spritesheet_item: 'spritesheet-item.png';
@spritesheet_machine: 'machine.png';
@spritesheet_cta: 'cta.png';
@transit_speed: 0.5s;
@replay_scale: 0.8;

@adWidth: 300px;
@adHeight: 250px;

@import "imports/style/utility-classes";
@import "imports/style/ad-container";
@import "imports/style/content";
@import "imports/style/hitzone";
@import "imports/style/replay-button";
@import "imports/style/sprite-classes";
@import "imports/style/position-classes";



#ad-container {
    background: #019cd4;
}


.logo {
    background: url(logo.png)0 0 no-repeat;
} 

.item {
    background: url(@spritesheet_item) no-repeat ;
    &.un {
        background-position: 0 0;
    } 
    &.deux {
        background-position: -(@adWidth) 0;
    } 
    &.trois {
        background-position: -(@adWidth)*2 0;
    } 
    &.quatre {
        background-position: -(@adWidth)*3 0;
    }
    &.cinq {
        background-position: -(@adWidth)*4 0;
    }
    &.six {
        background-position: -(@adWidth)*5 0;
    }
}



.text {
    &.un {
        .sprite-pos(0,0);
        opacity: 0;
        filter: alpha(opacity=0);
    }
    &.deux {
        .sprite-pos(1,0);
        opacity: 0;
        filter: alpha(opacity=0);
    }
    &.end {
        .sprite-pos(2,0);
        opacity: 0;
        filter: alpha(opacity=0);
    }
    &.arrow {
        .sprite-pos(3,0);
        opacity: 0;
        filter: alpha(opacity=0);
    }
}



.keurig {
    background: url(@spritesheet_machine) no-repeat;
    &.machine {
        background-position: 0 0;
    }
    &.cafe {
        top: -202px;
        background-position: -(@adWidth)*2 0;
    }
    &.jusdpipi {
        height: 0;
        background-position: -(@adWidth) 0;
    }
}

    .mask {
        position: absolute;
        overflow: hidden;
        left: 0;
        top: 202px;
        background-color: transparent;
        width: 100%;
        height: 100%;
    } 

    // .smoke {
    //     position: absolute;
    //     background: url(smoke.gif) no-repeat;
    //     width: 159px;
    //     height: 80px;
    //     top: 125px;
    //     left: 43px;
    //     opacity: 0;
    //     filter: alpha(opacity=0);
    // } 

    .smoke {
        position: absolute;
        background: url('smoke.jpg') 0 0 no-repeat;
        -webkit-background-size: auto 100%;
             -o-background-size: auto 100%;
                background-size: auto 100%;
        width: 95px;
        height: 37px;
        top: 125px;
        left: 43px;
        opacity: 0;
        filter: alpha(opacity=0);
    }


@keyframes scaleBtn {
    0% {
        transform: scale(1);
    }

    33% {
        transform:scale(0.95)
    }


    66% {
        transform:scale(1.05)
    }

    100% {
        transform: scale(1);
    }
}


.scaleBtn {
    animation: scaleBtn @transit_speed cubic-bezier(.87,-.41,.19,1.44) forwards;
}


.button {
    position: absolute;
    left: 161px;
    top: 70px;
    width: 111px;
    height: 111px;
    transform : scale(0);
    transition : all @transit_speed cubic-bezier(.87,-.41,.19,2);   
    &.off {
        background: url(cta-off.png)0 0 no-repeat;
    }
    &.on {
        background: url(cta-on.png)0 0 no-repeat;
        transform : scale(1);
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
