@charset "UTF-8";
/* CSS Document */
/**************** CLASS****************/
.hide {
    display: none;
}

body, body * {
    vertical-align:baseline;
    border:0 none;
    outline:0;
    padding:0;
    margin:0;
    background-color:transparent;
}

.img,
#expand_btn,
#close_btn,
#saq_logo,
#base_questionnaire,
#base_resultats,
#cta,
#ctaArrow,
#replay {
    position: absolute;
    background: url('billboard_spritesheet.png') 0 0 no-repeat;
}

#container {
    position: absolute;
    width: 970px;
    height:250px;
    top: 0;
    left: 0;
    margin:auto;
}

#collapsed {
    position: absolute;
    width: 970px;
    height:31px;
    z-index: 100;
    display: block;
}

#expanded {
    position: absolute;
    top: 0;
    left: 0;
    width:968px;
    height:248px;
    border:1px solid #666666;
    background-image: url('bg.jpg');
    z-index: 300;
    display:block;
    overflow: hidden;
}

#expand_btn {
    top:5px;
    right:23px;
    width:79px;
    height:23px;
    background-position: 0 -1988px;
    display:none;
    cursor: pointer;
    z-index: 200;
}

#exit_btn {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    pointer-events: none;
    z-index: 400;
}

#close_btn {
    top:5px;
    right:10px;
    width:79px;
    height:23px;
    background-position: -86px -1988px;
    cursor:pointer;
    z-index: 401;
}

#zoneClick {
    position: absolute;
    top: 86px;
    left: 770px;
    background-color: transparent;
    height: 55px;
    width: 110px;
    cursor: pointer; 

    // &:hover #ctaArrow {
    //     left: 62px;
    //      -webkit-transition: 0.2s;
    //        -moz-transition:  0.2s;
    //         -ms-transition:  0.2s;
    //          -o-transition:  0.2s;
    //             transition:  0.2s;   
    // }  
}

#cta {
    position: absolute;
    top: 0;
    left: 0;
    height: 55px;
    width: 115px;
    background-position: -758px -579px;   
}

#ctaArrow {
    position: absolute;
    top: 0;
    left: 115px;
    height: 55px;
    width: 57px;
    background-position: -875px -579px;
    cursor: pointer;
    animation: arrow 1s ease-in 2s infinite alternate;

}

#replay {
    position: absolute;
    top:5px;
    left:10px;
    width:19px;
    height:21px;
    background-position: -182px -1988px;
    cursor: pointer;
}

/**************** ANIMATION ****************/
@keyframes arrow {
    0%   {left: 115px;}
    100% {left: 125px;}
}

/**************** ELEMENTS ****************/

#saq_logo {
    bottom: 10px;
    height: 47px;
    width: 100%;
    background-position: 0 -19px;
    pointer-events: none;
}

#base_questionnaire {
    top: 0px;
    height: 248px;
    width: 100%;
    background-position: 0 -82px;

}

#base_resultats {
    cursor: pointer;
    top: 248px;
    height: 248px;
    width: 100%;
    background-position: 0 -880px;
}

    .img {
        position: absolute;
        width: 125px;
        height: 125px;
        cursor: pointer;
        pointer-events: all;
        -webkit-transition: background-position 0.2s;
           -moz-transition: background-position 0.2s;
            -ms-transition: background-position 0.2s;
             -o-transition: background-position 0.2s;
                transition: background-position 0.2s;
    }

    .left {
        top: 69px;
        left: 446px;
    }

    .right {
        top: 69px;
        left: 709px;
    }


    // .step:nth-of-type(1n+2) .img {
    //     .hide;
    // }

    .step:nth-of-type(1) .left {
        background-position: -49px -352px;
        &:hover {
            background-position: -180px -352px;
        }
    }

    .step:nth-of-type(1) .right {
        background-position: -316px -352px;
        &:hover {
            background-position: -444px -352px;
        }
    }

    .step:nth-of-type(2) .left {
        background-position: -52px -482px;
        &:hover {
            background-position: -180px -482px;
        }
    }

    .step:nth-of-type(2) .right {
        background-position: -313px -482px;
        &:hover {
            background-position: -444px -482px;
        }
    }

    .step:nth-of-type(3) .left {
        background-position: -47px -613px;
        &:hover {
            background-position: -180px -613px;
        }
    }

    .step:nth-of-type(3) .right {
        background-position: -318px -613px;
        &:hover {
            background-position: -445px -613px;
        }
    }

    .step:nth-of-type(4) .left {
        background-position: -49px -740px;
        &:hover {
            background-position: -180px -740px;
        }
    }

    .step:nth-of-type(4) .right {
        background-position: -317px -740px;
        &:hover {
            background-position: -445px -740px;
        }
    }