.banners {
	max-width: 1024px;
	margin: auto;
	position: relative;

	.banner {
		display: inline-block;
	}

	p {
		text-align: center;
	}

	iframe {
		&.hp {
			margin: auto 10px;
			width: 300px;
			height: 600px;
		}
		&.bb {
			margin: auto 10px;
			width: 300px;
			height: 250px;
		}
		&.masthead {
			margin: @margin @margin/3;
			width: 970px;
			height: 250px;
			display: none;
		}
		&.lb {
			display: none;
			margin: @margin auto;
			width: 728px;
			height: 90px;
			
		}
	}
}


@media only screen and (min-width: 1024px) {
.banners {
	iframe {
		&.hp {
			margin: auto @margin/3;
		}
		&.bb {
			margin: auto @margin/3;
		}
		&.masthead {
			display: block;
		}
		&.lb {
			display: block;			
		}
	}
}
}
