//MOBILE BUTTON


@button-width: 30px;                    // The width of the button area
@button-height: 30px;                   // The height of the button area
@bar-thickness: 8px;                    // The thickness of the button bars
@button-pad: 18px;                      // The left/right padding between button area and bars.
@button-bar-space: 12px;                // The spacing between button bars
@button-transistion-duration: 0.3s;     // The transition duration
/* -----------------------------------------------------------------------------

HAMBURGER ICONS COMPONENT

----------------------------------------------------------------------------- */
/**
* Toggle Switch Globals
*
* All switches should take on the class `c-hamburger` as well as their
* variant that will give them unique properties. This class is an overview
* class that acts as a reset for all versions of the icon.
*/
.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: @button-width;
    height: @button-height;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    -webkit-transition: all @speed;
            transition: all @speed;
    z-index: 9999;
    pointer-events: all;
}

    .c-hamburger.clicked { 
        margin-top:@margin*3;
        opacity: 1;
        filter: alpha(opacity=0);
        
        & span {height:0}

        & span::before {
            top: 13px;
            transform : rotate(45deg);
           background-color: @light_color; 

        }
        & span::after {
            bottom: -15px;
            transform : rotate(-45deg);
           background-color: @light_color; 
        } 
    }

    .c-hamburger:focus {
        outline: none;
        background-color: transparent;
    }

.c-hamburger span {
    display: block;
    position: absolute;
    top: 6px;
    left: 3px;
    right: 0;
    height: 2px;
    width: 80%;
    background-color: @dark_color;
    -webkit-transition: background @speed;
            transition: background @speed;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: @dark_color;
    content: "";
    -webkit-transition: background @speed;
            transition: background @speed;
}

.c-hamburger span::before {
    top: 8px;
}

.c-hamburger span::after {
    bottom: -16px;
}