
.display-posts-listing {
	margin: 0;
	padding: 0;
	
	li {
		list-style: none;
		position: relative;
		width: 100%;
		height: 50vw;
	}
	
	img {
		height: 100%;
	} 

	.title {
		.translate-centered;
		width: auto;
		margin: auto;
		text-align: center;
		text-transform: uppercase;
		pointer-events: none;
		display: inline-block;
		padding: 0;
		margin: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		transition : all @speed;
	}
}

	.listing-item {
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translateY(0);
		transition: all @speed*2;
	}
	
	.listing-item:not(.loaded) {
		opacity: 0;
		filter: alpha(opacity=0);
		transform: translateY(100%);
	}


@media only screen and (min-width: 640px) {
	.display-posts-listing {
		position: relative;
		li {
			width:50%;
			height: 28.125vw;
			float: left;
		}
	}
} 