@font-face {
	font-family: 'Conv_Langdon';
	src: url('../fonts/Langdon.eot');
	src: local('☺'), url('../fonts/Langdon.woff') format('woff'), url('../fonts/Langdon.ttf') format('truetype'), url('../fonts/Langdon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.Conv_Langdon {
    font-family:Conv_Langdon, Sans-Serif;
    font-weight: normal;
    	-webkit-font-smoothing: antialiased !important;
	letter-spacing: 2px;
} 






@font-face {
	font-family: 'Conv_brelaregular';
	src: url('../fonts/brelaregular.eot');
	src: local('☺'), url('../fonts/brelaregular.woff') format('woff'), url('../fonts/brelaregular.ttf') format('truetype'), url('../fonts/brelaregular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.Conv_brelaregular {
    font-family:Conv_brelaregular, Sans-Serif;
    font-weight: normal;
    	-webkit-font-smoothing: antialiased !important;
}




@font-face {
	font-family: 'Conv_ConduitITCStd-Light';
	src: url('../fonts/ConduitITCStd-Light.eot');
	src: local('☺'), url('../fonts/ConduitITCStd-Light.woff') format('woff'), url('../fonts/ConduitITCStd-Light.ttf') format('truetype'), url('../fonts/ConduitITCStd-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.Conv_ConduitITCStdLight {
    font-family:'Conv_ConduitITCStd-Light', Sans-Serif;
    font-weight: normal;
    	-webkit-font-smoothing: antialiased !important;
}




