footer {
	padding-left: @padding/5;
	padding-right: @padding/5;
	padding-bottom: @padding/2;
	min-height: 100px;
}

.copyright {

}




@media only screen and (min-width: 640px) {
	.copyright {
		margin-left: @margin;
		display: inline-block;
	}
} 