header {
	position: absolute;
	top: 0;
	width: 100%;
	padding: @padding/2;
	padding-top: @padding/2;
	z-index: 999;
	max-height: 150px;
}



.mobile-bar {
	position: absolute;
	top: @padding/2;
	right: @padding/2;
	width: 30px;
	height: 30px;
	background-color: transparent;
	
	&.clicked {
		right: @padding;
		top: @padding;
		background-color: @light_color;
	} 
} 



@media only screen and (min-width: 640px) {
	.mobile-bar {
		display: none;
	}

	.single header {
		pointer-events: none;
	} 

	header {
		padding: @padding;
	}
}