.load-more {
	width: 40px;
	height: 40px;
	left:0; right: 0;
	margin: 40px auto;
	position: relative;
	cursor: pointer;

	&::before {
		content: '';
		display: block;
		position: absolute;
		height: 2px;
		background-color: @dark_color;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}
	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 2px;
		background-color: @dark_color;
		height: 100%;
		left: 50%;
		transform: translateX(-50%);
	}

	&.is-clicked {
		animation: spining @speed*3 ease-in-out 6;
	}
}

@keyframes spining{
	0% {
		transform: scale(1);
	}
	100%{
		transform: scale(0.85);
		opacity: 0;
		filter: alpha(opacity=0);
	}
}