/************************************************************************************/
/************************************************************************************/
/*   
##     ##    ###    #### ##    ## 
###   ###   ## ##    ##  ###   ## 
#### ####  ##   ##   ##  ####  ## 
## ### ## ##     ##  ##  ## ## ## 
##     ## #########  ##  ##  #### 
##     ## ##     ##  ##  ##   ### 
##     ## ##     ## #### ##    ##   
*/ 
/************************************************************************************/
/************************************************************************************/

/* global box-sizing */
*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    &.freeze {
        max-height: 100%;
        overflow: hidden;
    }
}

body {
    color: @dark_font;
    background: @light_color;
    margin: auto;
    transition : all @speed;

    &.freeze {
        max-height: 100%;
        overflow: hidden;
    }
}

main {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    
    &.clicked {
        background-color: @dark_color;
        overflow: hidden;
        pointer-events: all;
    } 
} 


/* clear */
.clear {
    zoom:1;
}

    .clear:before,
    .clear:after {
        content:' ';
        display:table;
    }

    .clear:after {
        clear:both;
    }


img {
    max-width:100%;
    vertical-align:bottom;
}


input:focus {
}


p {
    .Conv_ConduitITCStdLight;
    font-size: 0.875em;
    letter-spacing: 1px;
    line-height: 2;
}

        ::-moz-selection { /* Code for Firefox */
            color: @light_font;
            background: @dark_font;
        }

        ::selection {
            color: @light_font;
            background: @dark_font;
        }

b {
}


a {
    .Conv_ConduitITCStdLight;
    text-decoration: none;
    font-size: 0.875em;
    letter-spacing: 2px;
}
    a.dark {
    }

    a:hover {
    }

    a:active {
        color: transparent;
        background-color: transparent;
    }

    a:focus {
    }

    a:focus,
    a:hover,
    a:active {
    }

h1 {
}

h2 {
    color: @second_color;
}

h3 {
    .Conv_Langdon;
    text-transform: uppercase;
    color: @second_color;
    font-size: 0.875em;
    margin: 0;
}

h4 {
}

h5 {
}

h6 {
}


li {
} 




/************************************************************************************/
/************************************************************************************/
/*   
########  ########  ######  ########   #######  ##    ##  ######  #### ##     ## ########
##     ## ##       ##    ## ##     ## ##     ## ###   ## ##    ##  ##  ##     ## ##      
##     ## ##       ##       ##     ## ##     ## ####  ## ##        ##  ##     ## ##      
########  ######    ######  ########  ##     ## ## ## ##  ######   ##  ##     ## ######  
##   ##   ##             ## ##        ##     ## ##  ####       ##  ##   ##   ##  ##      
##    ##  ##       ##    ## ##        ##     ## ##   ### ##    ##  ##    ## ##   ##      
##     ## ########  ######  ##         #######  ##    ##  ######  ####    ###    ########
*/ 
/************************************************************************************/
/************************************************************************************/
@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
    
}


@media only screen and (min-width: 640px) {

    .overlay {     
        &.clicked {
            background-color: @light_color;
        } 
    } 
}


@media only screen and (min-width:960px) {
}