//MAIN NAV
nav {
	display: inline-block;
	float: right;
	pointer-events: none;
	opacity: 0;
	filter: alpha(opacity=0);
	transition : opacity @speed;
	
	&.clicked {
		opacity: 1 !important;
		filter: alpha(opacity=100) ;
		pointer-events: all;
		z-index: 9999;
	}
		
	&.single {
		opacity: 0;
		filter: alpha(opacity=0);
	} 

}

	nav ul {
		margin: 0;

		&:hover li {
			opacity: 0.3 ;
			filter: alpha(opacity=30);
		}

		li {
			text-align: right;
			list-style: none;
			padding: 4px 0;
			transition : all @speed;

			&:hover {
				opacity: 1 !important;
				filter: alpha(opacity=100) !important;
			}
		}
		
		a {
			.Conv_Langdon;
			text-decoration: none;
			text-transform: uppercase;
			color: @dark_font;
			font-size: 1em;
			
			&.clicked {
				color: @light_font;
			}
		} 
	}


.site-navigation-footer {
	ul {
		padding: 0
	}

	li {
		text-align: left;
		list-style: none;
		padding: 4px 0;
		transition : all @speed;

		&:hover {
			opacity: 1 !important;
			filter: alpha(opacity=100) !important;
		}
	}
	a {
		.Conv_Langdon;
		text-decoration: none;
		text-transform: uppercase;
		color: @dark_font;
		font-size: 0.8em;
		
		&.clicked {
			color: @light_font;
		}
	} 
}

@media only screen and (min-width: 640px) {
	nav {
		opacity: 1;
		filter: alpha(opacity=100);
		pointer-events: all;
		&.single {
			pointer-events: none;
		} 
		ul a {
			font-size: 0.875em;
		}

	}

	.site-navigation-footer {
		float: right;
		margin-right: @margin;
		ul {
			margin: 0;
		}
		li {
			margin: 0;
			padding-left: @padding/7;
			padding-top: 0;
			display: inline-block;
		}

		a {
			font-size: 0.875em;
		}
	}
}