.header-content {
	margin-top: @margin*3;
	margin-left: @margin/2;
	margin-right: @margin/2;
} 

.title-project, .nav-back {
    display: inline-block;
	max-width: 40%;
}

	.nav-back {
		.Conv_Langdon;
		text-transform: uppercase;
		color: @second_color;
		float: right;
		text-align: right;
		text-decoration: none;
		display: none;
	}



.description-project {
	width: 90%;
	text-align: left;
	margin-top: @margin*2;
	margin-bottom: @margin;
}



.center {
	max-width: 600px;
	margin: auto;
} 


.website-link {
	padding: @padding/3;
	background-color: @dark_color;
	display: inline-block;
	color: @light_font;
	border: 1px solid @dark_color;
	transition : all @speed;
	float: right;
	letter-spacing: 2px;
	&:hover {
		background-color: @light_color;
		color: @dark_font;
	} 
}



.logo-project {
	min-height: 200px;
	background-color: @dark_color;
	position: relative;
	margin-top: -1px;
	
	img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	} 
	
} 



.images-project, .banners {
	margin: @margin auto;
	position: relative;
	max-width: 1440px;
		
	img {
		padding-left: @padding/5;
		padding-right: @padding/5;
		width: auto;
		height: auto;
		margin: @margin/2 auto;
		display: block;
	} 	
} 





@media only screen and (min-width: 640px) {
	.header-content {
		margin-top: @margin;
		margin-left: @margin/2;
	} 
		.nav-back {
			display: block;
		}

		.title-project {
			margin-left: @margin*2;
		}

	.description-project {
		width: 80%;
		max-width: 620px;
		margin-left: auto;
		margin-right: auto;
	}

}

@media only screen and (min-width: 1024px) {

	.description-project {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}
