.title-container {
	position: relative;
	top: 0;
	width: 100%;
	height: 100vh;
	
	.the-title, .helper {
		position: relative;
		top: 50%;
		transform : translateY(-50%);
	}

	.the-title {
		transition : all @speed ease-in-out;
		display: block;
	}

	.helper {
		position: absolute;
		width: inherit;
		max-width: 570px;
		height: 100px;
		display: block;
		left: 0; right: 0;
		margin: auto;
		transition : all @speed;
	} 

	h1 {
		.Conv_Langdon;
		text-transform: uppercase;
		text-align: center;
		font-size: 2.5em;
		letter-spacing: 4px;
		margin-top: 0;
	} 
	
	h4 {
		.Conv_brelaregular;
		text-align: center;
		max-width: 75%;
		margin: 0 auto @margin/4 ;
	}
}




@media only screen and (min-width: 640px) {
	.title-container {
		h1 {
			font-size: 3.75em;
			letter-spacing: 10px;
		} 
		h4 {
			font-size: 1.1em;			
		} 
	} 
}