/************************************************************************************/
/************************************************************************************/
/*   
 ######   ##        #######  ########     ###    ##          ##     ##    ###    ########  
##    ##  ##       ##     ## ##     ##   ## ##   ##          ##     ##   ## ##   ##     ## 
##        ##       ##     ## ##     ##  ##   ##  ##          ##     ##  ##   ##  ##     ## 
##   #### ##       ##     ## ########  ##     ## ##          ##     ## ##     ## ########  
##    ##  ##       ##     ## ##     ## ######### ##           ##   ##  ######### ##   ##   
##    ##  ##       ##     ## ##     ## ##     ## ##            ## ##   ##     ## ##    ##  
 ######   ########  #######  ########  ##     ## ########       ###    ##     ## ##     ##  
*/
/************************************************************************************/
/************************************************************************************/
@speed : 0.3s;

@padding : 50px;
@margin : 50px;

@light_color : #fff;
@dark_color : #0c0b0b;
@second_color : #2c2929;

@dark_font : #0c0b0b;
@light_font : #fff;