
@import "imports/style/reset";

@main_color: white;
@border_color: #000;
@spritesheet_path: 'spritesheet.png';
@transit_speed: 0.5s;
@replay_scale: 0.8;

@adWidth: 300px;
@adHeight: 600px;

@import "imports/style/utility-classes";
@import "imports/style/ad-container";
@import "imports/style/content";
@import "imports/style/hitzone";
@import "imports/style/replay-button";
@import "imports/style/sprite-classes";
@import "imports/style/position-classes";

@border-width: 1px;



@width-letter : 24px;
@height-letter : 28px;
@keyframes type-row-line-un {
    to { width: @width-letter*2 };
}

@keyframes type-row-line-deux {
    to { width: @width-letter*10};
}

@keyframes type-row-line-trois {
    to { width: @width-letter*9};
}



#ad-container {
    border-width: @border-width;
    background: #000;
}

.glitch {
        -webkit-background-size: auto 100%;
         -o-background-size: auto 100%;
            background-size: auto 100%;
}


        .bg-glitch {
            background: url(bg.jpg)0 0 no-repeat;
        }



        .frame-dot-black {
            background: url(frame-1.png)0 0 no-repeat;
            opacity: 0;
            filter: alpha(opacity=0);
        }


        .dedsek-pink {
            background: url(dedsec-pink.png)0 0 no-repeat;
            opacity: 0;
            filter: alpha(opacity=0);
        }


        .frame-waves-black {
            background: url(frame-2.png)0 0 no-repeat;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .lightning {
            background: url(lightning.png)0 0 no-repeat;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .skull-pink {
            background: url(skull-pink.png)0 0 no-repeat;
            opacity: 0;
            filter: alpha(opacity=0);
        }



.text-incoming {
    background: url(copy-1.gif)no-repeat;
    width: 0%;
    left: 25px;
    
    &.line-1 {
        background-position: 0 0;
        
        &.animText {
            -webkit-animation: type-row-line-un 0.4s steps(2) forwards;
               -moz-animation: type-row-line-un 0.4s steps(2) forwards;
                 -o-animation: type-row-line-un 0.4s steps(2) forwards;
                    animation: type-row-line-un 0.4s steps(2) forwards;
        } 
    }
    &.line-2 {
        background-position: -300px 0;
        // transform : translateY(@height-letter);
                
        &.animText {
            -webkit-animation: type-row-line-deux 0.4s steps(10) forwards;
               -moz-animation: type-row-line-deux 0.4s steps(10) forwards;
                 -o-animation: type-row-line-deux 0.4s steps(10) forwards;
                    animation: type-row-line-deux 0.4s steps(10) forwards;
        } 
    }
    &.line-3 {
        background-position: -600px 0;
        // transform : translateY(@height-letter*2);
                
        &.animText {
            -webkit-animation: type-row-line-trois 0.4s steps(9) forwards;
               -moz-animation: type-row-line-trois 0.4s steps(9) forwards;
                 -o-animation: type-row-line-trois 0.4s steps(9) forwards;
                    animation: type-row-line-trois 0.4s steps(9) forwards;
        } 
    }
}


.end-frame {
    background: url(end-frame.png)0 0 no-repeat;
    opacity: 0;
    filter: alpha(opacity=0);
}

    #end-frame-hover {
        position: absolute;
        z-index: 9;
        pointer-events: none;
        background: url(glitched-hover.png)0 0 no-repeat;
        opacity: 0;
        filter: alpha(opacity=0);
        
        &:hover {
            opacity: 1;
            filter: alpha(opacity=100);
        } 
    }

.end-copy {
    background: url(end-copy.png)0 0 no-repeat;
    opacity: 0;
    filter: alpha(opacity=0);
}

.end-codelines {
    background: url(end-codelines.png)0 0 no-repeat;
    opacity: 0;
    filter: alpha(opacity=0);
}

.end-repear {
    background: url(repear.png)0 0 no-repeat;
    opacity: 0;
    filter: alpha(opacity=0);
}

