/*  --------------------------------------------------
// :: Global variables
// -------------------------------------------------- */
@adWidth: 300px;
@adHeight: 250px;

/*  --------------------------------------------------
// :: LESS Classes
// -------------------------------------------------- */
.no-select {
    -webkit-user-select: none; /* Safari/Chrome, other WebKit */
       -moz-user-select: none; /* Firefox, other Gecko */
        -ms-user-select: none; /* Opera/IE 8+ */
            user-select: none;
    cursor: default;
}

.button {
    .no-select;
    outline: none;
    cursor: pointer;
    pointer-events: all;
}

.hide {
    opacity: 0;
    filter: alpha(opacity=0);
    pointer-events: none;
}

/* POSITIONING */
.absolute-centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.absolute-centered-h {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.translate-centered {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.translate-centered-h {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}


.no-transition {
    -webkit-transition: all 0;
       -moz-transition: all 0;
        -ms-transition: all 0;
         -o-transition: all 0;
            transition: all 0;
}



/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*------------------------------------*\
    MAIN
\*------------------------------------*/

 

* { margin: 0; padding: 0; outline: none; }

#adContainer {
    display: block;
    position: relative;
    overflow: hidden;
    margin: auto;
    width: @adWidth;
    height: @adHeight;
    max-width: @adWidth;
    max-height: @adHeight;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: solid 1px black;
    background: url(bg.jpg)0 0 no-repeat;
}


#hitzone {
    z-index: 9;
}

.content,
#hitzone {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    cursor:pointer;
    pointer-events:all;
}

.sprite {
    position: absolute;
    display: block;
    background: url('spritesheet.png');
}

.logo {
    background-position: 0 0;
    width: 300px;
    height: 85px;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: bottom center;
       -moz-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
         -o-transform-origin: bottom center;
            transform-origin: bottom center;
}

/***** FRAME 1 *****/

.frame1.line1 {
    background-position: 0 -96px;
    width: 300px;
    height: 23px;
    top: 105px;
    left: 0;
}
.frame1.line2 {
    background-position: 0 -123px;
    width: 300px;
    height: 23px;
    top: 132px;
    left: 0;
    -webkit-transform-origin: bottom center;
       -moz-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
         -o-transform-origin: bottom center;
            transform-origin: bottom center;
}

.conteneurFrame1 {
    .absolute-centered-h;
    overflow: hidden;
    width: 258px;
    height: 26px;
    top: 157px;
} 
    
.frame1.line3 {
    background-position: -20px -148px;
    width: 258px;
    height: 26px;
    top: 0;
    -webkit-transform: translateY(-90px);
       -moz-transform: translateY(-90px);
        -ms-transform: translateY(-90px);
         -o-transform: translateY(-90px);
            transform: translateY(-90px);
}

.frame1, .frame2.sandouich {
    -webkit-transition: all 0s;
       -moz-transition: all 0s;
        -ms-transition: all 0s;
         -o-transition: all 0s;
            transition: all 0s;
    -webkit-transform-origin: bottom center;
       -moz-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
         -o-transform-origin: bottom center;
            transform-origin: bottom center;
}

/***** FRAME 2 *****/

.frame2 {
    -webkit-transition: all 0s;
       -moz-transition: all 0s;
        -ms-transition: all 0s;
         -o-transition: all 0s;
            transition: all 0s;
    -webkit-transform-origin: top center;
       -moz-transform-origin: top center;
        -ms-transform-origin: top center;
         -o-transform-origin: top center;
            transform-origin: top center;
} 

.frame2.line1 {
    background-position: 0 -200px;
    width: 300px;
    height: 18px;
    top: 92px;
    left: 0;
}

.conteneurFrame2 {
    .absolute-centered-h;
    overflow: hidden;
    width: 281px;
    height: 18px;
    top: 113px;
} 

.frame2.line2 {
    background-position: -9px -220px;
    width: 281px;
    height: 18px;
    top: 0;
    -webkit-transform: translateX(-300px);
       -moz-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
         -o-transform: translateX(-300px);
            transform: translateX(-300px);
}  
  

.sandouich {
    background-position: 0 -255px;
    width: 300px;
    height: 94px;
    top: 137px;
    left: 0;
} 



/***** FRAME 3 *****/
.frame3 {
    
    -webkit-transform: translateY(-90px);
       -moz-transform: translateY(-90px);
        -ms-transform: translateY(-90px);
         -o-transform: translateY(-90px);
            transform: translateY(-90px);

} 

.frame3.line1 {
    background-position: 0 -356px;
    width: 300px;
    height: 26px;
    top: 95px;
    left: 0;
}

.frame3.line2 {
    background-position: 0 -386px;
    width: 300px;
    height: 26px;
    top: 125px;
    left: 0;
}
.conteneurFrame3_2 {
    .absolute-centered-h;
    overflow: hidden;
    width: 262px;
    height: 26px;
    top: 152px;
} 
.frame3.line3 {
    background-position: -20px -413px;
    width: 262px;
    height: 26px;
    top: 0;
    left: 0;
}





@-webkit-keyframes textAnimFlip
{
    0% {-webkit-transform: perspective( 300px ) rotateX( -90deg ); }
    30% {-webkit-transform: perspective( 400px ) rotateX( 20deg );}
    45% {-webkit-transform: perspective( 450px ) rotateX( -12deg );}
    60% {-webkit-transform: perspective( 500px ) rotateX( 8deg );}
    75% {-webkit-transform: perspective( 500px ) rotateX( -5deg );}
    90% {-webkit-transform: perspective( 500px ) rotateX( 3deg );}
    100% {-webkit-transform: perspective( 600px ) rotateX( 0deg );}
}

@-moz-keyframes textAnimFlip
{
    0% {-moz-transform: perspective( 300px ) rotateX( -90deg ); }
    30% {-moz-transform: perspective( 400px ) rotateX( 20deg );}
    45% {-moz-transform: perspective( 450px ) rotateX( -12deg );}
    60% {-moz-transform: perspective( 500px ) rotateX( 8deg );}
    75% {-moz-transform: perspective( 500px ) rotateX( -5deg );}
    90% {-moz-transform: perspective( 500px ) rotateX( 3deg );}
    100% {-moz-transform: perspective( 600px ) rotateX( 0deg );}
}

@keyframes textAnimFlip
{
    0% {transform: perspective( 300px ) rotateX( -90deg ); }
    30% {transform: perspective( 400px ) rotateX( 20deg );}
    45% {transform: perspective( 450px ) rotateX( -12deg );}
    60% {transform: perspective( 500px ) rotateX( 8deg );}
    75% {transform: perspective( 500px ) rotateX( -5deg );}
    90% {transform: perspective( 500px ) rotateX( 3deg );}
    100% {transform: perspective( 600px ) rotateX( 0deg );}
}

.textFlip {

    -webkit-animation: textAnimFlip 0.75s forwards;
       -moz-animation: textAnimFlip 0.75s forwards;
         -o-animation: textAnimFlip 0.75s forwards;
            animation: textAnimFlip 0.75s forwards;
}




@-webkit-keyframes textAnimSlideDown
{
    0% { -webkit-transform: translateY( -50px ); }

    100% { -webkit-transform: translateY( 0 ); }
}

@-moz-keyframes textAnimSlideDown
{
    0% { -moz-transform: translateY( -50px ); }

    100% { -moz-transform: translateY( 0 ); }
}

@keyframes textAnimSlideDown
{
    0% { transform: translateY( -50px ); }

    100% { transform: translateY( 0 ); }
}

.textSlideDown {

    -webkit-animation: textAnimSlideDown 0.5s ease-in-out forwards;
       -moz-animation: textAnimSlideDown 0.5s ease-in-out forwards;
         -o-animation: textAnimSlideDown 0.5s ease-in-out forwards;
            animation: textAnimSlideDown 0.5s ease-in-out forwards;
}




@-webkit-keyframes textAnimSlideRight
{
    0% { -webkit-transform: translateX( -300px ); }

    100% { -webkit-transform: translateX( 0 ); }
}

@-moz-keyframes textAnimSlideRight
{
    0% { -moz-transform: translateX( -300px ); }

    100% { -moz-transform: translateX( 0 ); }
}

@keyframes textAnimSlideRight
{
    0% { transform: translateX( -300px ); }

    100% { transform: translateX( 0 ); }
}

.textSlideRight {

    -webkit-animation: textAnimSlideRight 0.5s ease-in-out forwards;
       -moz-animation: textAnimSlideRight 0.5s ease-in-out forwards;
         -o-animation: textAnimSlideRight 0.5s ease-in-out forwards;
            animation: textAnimSlideRight 0.5s ease-in-out forwards;
}




@-webkit-keyframes textAnimSlideLeft
{
    0% { -webkit-transform: translateX( 300px ); }

    100% { -webkit-transform: translateX( 0 ); }
}

@-moz-keyframes textAnimSlideLeft
{
    0% { -moz-transform: translateX( 300px ); }

    100% { -moz-transform: translateX( 0 ); }
}

@keyframes textAnimSlideLeft
{
    0% { transform: translateX( 300px ); }

    100% { transform: translateX( 0 ); }
}

.textSlideLeft {

    -webkit-animation: textAnimSlideLeft 0.5s ease-in-out forwards;
       -moz-animation: textAnimSlideLeft 0.5s ease-in-out forwards;
         -o-animation: textAnimSlideLeft 0.5s ease-in-out forwards;
            animation: textAnimSlideLeft 0.5s ease-in-out forwards;
}

/************************************************************************************/
/************************************************************************************/
/* CTA */

.RolloverCTA {
    .absolute-centered-h;
    position: absolute;
    width: 123px;
    height: 25px;
    top: 195px;
    overflow: hidden;
    z-index: 10;
    opacity: 0;
    filter: alpha(opacity=0);
}

.cta {
    position: absolute;
    top: 0;
    left: 0;
    width: 123px;
    height: 25px;
    opacity: 1;
    background-position: 0 -456px;   
}

.arrow {
    top: 5px;
    left: 110px;
    width: 6px;
    height: 13px;
    background-position: -123px -462px;    
}





/************************************************************************************/
/************************************************************************************/
/* REPLAY */
.btn_replay {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 15px;
    height: 13px;
    background-position: -285px -456px;    
    pointer-events: all;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    filter: alpha(opacity=0);  
}



/************************************************************************************/
/************************************************************************************/
/* CLICKTAG */
#hitzone {
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
}